* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
  color: #333;
}

body {
  background-color: #f5f7fa; /* Cor de fundo mais suave */
}
#erase-button{
  margin-left: 0.5rem;
}

button {
  background-color: #62b6cb; /* Azul pastel */
  color: #fff;
  border: 2px solid #62b6cb;
  padding: 0.6rem 1rem;
  font-size: 1rem;
  line-height: 1; /* Garantir que o line-height seja 1 */
  cursor: pointer;
  display: inline-block;
  transition: background-color 0.3s, color 0.3s;
  display: flex;
  align-items: center; /* Centralizar conteúdo verticalmente */
  justify-content: center; /* Centralizar conteúdo horizontalmente */
}

button:hover {
  background-color: #4ea5d9; /* Azul mais escuro no hover */
}

button i {
  color: #fff;
  margin-right: 0.3rem;
}

input,
select {
  padding: 0.5rem 0.8rem;
  border: 1px solid #bbb; /* Bordas mais suaves */
  border-radius: 8px;
}

.hide {
  display: none;
}

/* Todo Header */
.todo-container {
  max-width: 500px;
  margin: 2rem auto 0;
  background-color: #fff;
  padding: 2.5rem;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.todo-container header {
  text-align: center;
  padding: 0 1rem 1rem;
  border-bottom: 1px solid #ddd; /* Bordas mais claras */
}

/* Todo Form */
#todo-form,
#edit-form {
  padding: 1.2rem;
  border-bottom: 1px solid #ddd; /* Bordas mais claras */
}

#todo-form p,
#edit-form p {
  margin-bottom: 0.7rem;
  font-weight: bold;
}

.form-control {
  display: flex;
}

.form-control input {
  margin-right: 0.7rem;
  flex: 1;
}

#cancel-edit-btn {
  margin-top: 1.2rem;
  color: #777; /* Cor mais neutra */
}

/* Todo Toolbar */
#toolbar {
  padding: 1.2rem;
  border-bottom: 1px solid #ddd; /* Bordas mais claras */
  display: flex;
  flex-direction: column;
}

#toolbar h4 {
  margin-bottom: 0.7rem;
}

#search {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.2rem;
}

#search form {
  display: flex;
}

#search input {
  flex: 1;
  margin-right: 0.7rem;
}

#filter {
  display: flex;
  flex-direction: column;
}

#filter select {
  flex: 1;
}

/* Todo List */
.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem;
  border-bottom: 1px solid #ddd; /* Bordas mais claras */
  transition: 0.3s;
}

.todo h3 {
  flex: 1;
  font-size: 1.2rem;
}

.todo button {
  margin-left: 0.7rem;
}

.done {
  background: #d3e0ea; /* Fundo azul claro para itens concluídos */
}

.done h3 {
  color: #888; /* Cor cinza para texto de itens concluídos */
  text-decoration: line-through;
  font-style: italic;
}

/* Media Queries for Responsiveness */
@media (min-width: 600px) {
  #toolbar {
    flex-direction: row;
  }

  #search {
    flex: 1;
    margin-right: 1.2rem;
  }

  #search form {
    flex-direction: row;
  }

  #filter {
    flex: 1;
    flex-direction: row;
    align-items: center;
  }
}

@media (max-width: 599px) {
  #search form {
    flex-direction: row;
  }

  #search input {
    margin-bottom: 0.7rem;
    margin-right: 0;
  }
}
